.root{
	-fx-background-color: #2B2B2B;
}

#field{
	-fx-text-fill: white;
  	-fx-font-weight: bold;
}

#field:hover{
	-fx-text-fill: #2B2B2B;
}

#tittle{
	-fx-font-family: segoe-ui;
	-fx-font-size: 30.0pt;
	-fx-text-fill: white;
}

.split-pane-divider{
	-fx-border-color: #474747;
	-fx-background-color: #474747;
	-fx-background-insets: 0.0;
}

#component{
	-fx-background-color: #474747;
}

#content{
	-fx-background-color: #474747;
}

#content2{
	-fx-background-color: #2B2B2B;
}

.label{
	-fx-font-family: segoe-ui;
	-fx-font-size: 10.0pt;
}

#labelOne{
	-fx-font-family: segoe-ui;
	-fx-font-size: 20.0pt;
	-fx-text-fill: white;
}

#labelTwo{
	-fx-font-family: segoe-ui;
	-fx-font-size: 14.0pt;
	-fx-text-fill: white;
}

#index{
	-fx-text-fill: #646466;
}

.button{
	-fx-background-color: #C70E0E;
	-fx-text-fill: white;
	-fx-font-size: 12.0pt;
}

.button:hover{
	-fx-background-color: #9D1414;
	-fx-effect: dropshadow(gaussian, #474747, 20.0, 0.5, 0.0, 0.0);
}

.button:armed{
	-fx-background-color: #EE0E0E;
}

#configPane{
	-fx-background-color: #474747;
}