.root{
	-fx-background-color: #2B2B2B;
}

#disable{
	-fx-opacity: 0;
}

#field{
	-fx-text-fill: white;
  	-fx-font-weight: bold;
}

#slider > .track{
	-fx-background-color: #474747;
}

#slider  > .thumb {
     -fx-background-color: #C70E0E;
}
#slider > .colored-track {
     -fx-background-color: #C70E0E;
}

#slider > .animated-thumb {
     -fx-background-color: #C70E0E;
}

#progress > .track {
  -fx-background-color: #2B2B2B;
}

#progress .bar { 
    -fx-padding: 2px; 
    -fx-background-insets: 0;
    -fx-background-color: #C70E0E;
}

#field:hover{
	-fx-text-fill: #2B2B2B;
}

#tittle{
	-fx-font-family: segoe-ui;
	-fx-font-size: 30.0pt;
	-fx-text-fill: white;
}

.split-pane-divider{
	-fx-opacity: 0;
	-fx-background-insets: 0.0;
}

#component{
	-fx-background-color: #474747;
}

#content{
	-fx-background-color: #474747;
}

#content2{
	-fx-background-color: #2B2B2B;
}

.label{
	-fx-font-family: segoe-ui;
	-fx-font-size: 10.0pt;
}

#labelOne{
	-fx-font-family: segoe-ui;
	-fx-font-size: 20.0pt;
	-fx-text-fill: white;
}

#labelTwo{
	-fx-font-family: segoe-ui;
	-fx-font-size: 14.0pt;
	-fx-text-fill: white;
}

#labelThree{
	-fx-font-family: segoe-ui;
	-fx-font-size: 12.0pt;
	-fx-text-fill: #1B1B1B;
}

#index{
	-fx-text-fill: #646466;
}

.button{
	-fx-background-color: #C70E0E;
	-fx-text-fill: white;
	-fx-font-size: 12.0pt;
}

.button:hover{
	-fx-background-color: #9D1414;
	-fx-effect: dropshadow(gaussian, #474747, 20.0, 0.5, 0.0, 0.0);
}

.button:armed{
	-fx-background-color: #EE0E0E;
}

#jfxButton{
	-fx-background-color: #C70E0E;
	-fx-text-fill: white;
	-fx-font-size: 25.0pt;
}

#jfxButton:hover{
	-fx-background-color: #9D1414;
	-fx-effect: dropshadow(gaussian, #474747, 20.0, 0.5, 0.0, 0.0);
}

#jfxButton2{
	-fx-background-color: #1F1F1F;
	-fx-text-fill: white;
	-fx-font-size: 18pt;
}

#jfxButton2:hover{
	-fx-background-color: #0F0F0F;
	-fx-effect: dropshadow(gaussian, #474747, 20.0, 0.5, 0.0, 0.0);
}

#jfxButton3{
	-fx-background-color: #C70E0E;
	-fx-text-fill: white;
	-fx-font-size: 22pt;
}

#jfxButton3:hover{
	-fx-background-color: #9D1414;
	-fx-effect: dropshadow(gaussian, #474747, 20.0, 0.5, 0.0, 0.0);
}

#grid{
	-fx-background-color: #2B2B2B;
}

#playerCod{
	-fx-text-fill: white;
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}

#playerName{
	-fx-text-fill: white;
	-fx-font-size: 14pt;
}

#configPane{
	-fx-background-color: #474747;
}