.root{
	-fx-font-family: segoe-ui;
	-fx-background-color: #2B2B2B;
}

#tittle{
	-fx-font-family: segoe-ui;
	-fx-font-size: 30pt;
	-fx-text-fill: white;
}

#content{
	-fx-background-color: #2B2B2B;
}

#appNameLabel{
	-fx-background-color: #C70E0E;
	-fx-font-size: 28pt;
}

#header{
	-fx-background-color: #2B2B2B;
	-fx-font-size: 14pt;
}

#exit{
	-fx-text-fill: white;
	-fx-background-color: #1f1f1f;
	-fx-font-size: 14pt;
}

#exit:hover{
	-fx-background-color: #0f0f0f;
}

#actions{
	-fx-text-fill: white;
	-fx-background-color: #C70E0E;
	-fx-font-size: 14pt;
}

#actions:hover{
	-fx-background-color: #A50E0E;
}

#players{
	-fx-text-fill: white;
	-fx-background-color: #2B2B2B;
	-fx-font-size: 9pt;
}

#player{
	-fx-background-color: #C70E0E;
	-fx-effect: dropshadow(gaussian, #1A1A1A, 20, 0.5, 0, 0);
}

#playerName{
	-fx-font-weight: bold;
	-fx-font-size: 14pt;
}

#table{
	-fx-font-size: 28pt;
	-fx-background-image: url("../images/background2.png");
}

#cards{
	-fx-background-color: #C70E0E;
	-fx-font-size: 28pt;
}

#playable{
	-fx-effect: dropshadow(gaussian, white, 20, 0.5, 0, 0);
}

#notPlayable{
	-fx-effect: dropshadow(gaussian, #1A1A1A, 20, 0.5, 0, 0);
}
#saveable{
	-fx-effect: dropshadow(gaussian, #A6BC00, 20, 0.5, 0, 0);
}

.label{
	-fx-text-fill: white;
}