.root{
	-fx-font-family: segoe-ui;
	-fx-font-size: 10pt;
}

#bg{
	-fx-background-color: #2B2B2B;
}

#receivedMessage{
	-fx-background-color: #C70E0E;
}

#sentMessage{
	-fx-background-color: #BE3334;
}

#playerName{
	-fx-font-weight: bold;
	-fx-background-color: #A50E0E;
}

#messageBody{
	-fx-text-fill: white;
}

/* Message Styles */
#bold{
	-fx-font-weight: bold;
}

#italic{
    -fx-font-style: italic; 
}

#black{
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

#gold{
	-fx-font-weight: bold;
	-fx-text-fill: #A39C56;
}

#private{
	-fx-background-color: #6AFF66;
	-fx-text-fill: black;
}